.logo-container{
  display: flex;
  background-color: #008080;
  margin: 0px, 0px, 0px, 0px;
  height: 150px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.logo {
  padding-left: 80px;
  padding-top: 60px;
  color: #EEF788;
} 
.logo-container h2{
  padding-top:60px;
  padding-left: 60px;
  color: #EEF788;
}
.profile{
  padding-top: 45px;
  padding-left: 55%;
  display:flex;
  align-items: center;
}

.profile-picture {
  width: 50px; 
  border-radius: 50%; 
  border: 2px solid #000;
  object-fit: cover; 
}

.profile-info{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
}
.profile-info p:first-child {
  font-weight: bold;
}