.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 40%;
  padding-left: 30%;
}

.search-bar input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-bar button {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.select-container{
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
}